{
	"semi": false,
	"singleQuote": false,
	"jsxSingleQuote": false,
	"quoteProps": "as-needed",
	"htmlWhitespaceSensitivity": "css",
	"proseWrap": "preserve",
	"printWidth": 80,
	"tabWidth": 2,
	"useTabs": true,
	"plugins": ["prettier-plugin-tailwindcss"]
}
